<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
		  <li><a href="{{"/" | relative_url }}">Home</a></li>
		</ul>
      </div>


	  <div class="footer-col footer-col-2">
	  </div>

      <div class="footer-col footer-col-3 description">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
